@model ST10072500_CLDV6211_Part2.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtCreatorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtCreatorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtAvailability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtAvailability)
        </dd>


        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtImg)
        </dt>
        <dd class="col-sm-10">
            <img src="data:image;base64,@Model.ArtImg" alt="Image" style="max-width: 100%; max-height: 200px;" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ArtId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
